<%= form_for @task do |f| %>
  <p>
    <%= f.label "Priority" %>:
    <%= f.select :priority, options_for_select(1..@list.tasks.count, @task.priority), include_blank: true %>
  </p>
  <p>
    <%= f.label "Task" %>:
    <%= f.hidden_field :list_id, value: @list.id %>
    <%= f.text_field :description %><br />
  </p>
  <p>
    <%= f.label "Mark Complete" %>:
    <%= f.check_box :completed, alt: "Mark Complete" %><br />
  </p>

  <p>
    <%= f.label "Deadline" %>:
    <%= f.datetime_select :deadline, discard_hour: true, discard_minute: true %><br />
  </p>

  <%= f.submit %>
  <%= link_to 'Delete Task', task_path(@task), method: :delete %>
<% end %>